/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
h2 {
	font-family: 'Open Sans', sans-serif;
}

.nav-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: 0% auto;
}

a {
	text-decoration: none;
}

.title {
    width: 90%;
	margin: 5% auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.title div {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: center;
}

.button {
	text-align: center;
	border: 1px solid black;
	width: 200px;
	padding: 10px 25px 10px 25px;
	margin-top: 2%;
}

.title-words h1 {
	text-align: center;
	font-size: 350%;
	font-family: 'Roboto Mono', monospace;
}

hr {
	width: 90%;
	margin: 1% auto;
}

.row1 {
	margin: 3% auto;
	width: 90%;
	height: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.row1 div {
	width: 46%;
}
.middle-img {
    display: block;
    width: 90%;
    margin: auto;
}

.row2 {
	margin: 3% auto;
	width: 90%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: space-around;
}

.row2 div {
	width: 30%;
}

.contact {
	margin: 1% auto;
    width: 90%;
}

.contact .phone {
	display: block;
	margin-top: 15px;
}

.contact .email {
	display: block;
	margin-top: 15px;
}

footer {
	margin: 1% auto;
	text-align: center;
	width: 90%;
}/* Use your own code or past solution for Great Idea Web Page CSS here! */

@media (max-width: 800px) {
	.nav-bar {
		flex-flow: row-reverse wrap;
	}
	.title {
		justify-content: center;
		margin: 10% auto;
	}
	.title-img {
		display: none;
	}
}

@media (max-width: 500px) {

}