/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
h2 {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-family: 'Roboto Mono', monospace;
}

.nav-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
	margin: 0% auto;
	margin-bottom: 2%;
}

.nav-bar .links {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 80%;
	margin: 0 0;
}

a {
	text-decoration: none;
}

.services-header-img{
    display: block;
    width: 90%;
    margin: auto;
}

.services {
	width: 90%;
	margin:1% auto;
}

hr {
	width: 90%;
}

.body {
	display: flex;
	width: 90%;
	margin: 0% auto;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-around;
}

.body div {
	border: 1px solid black;
	display: flex;
	width: 48%;
	justify-content: space-between;
	background: #f4f3f4;
	flex-flow: column wrap;
	padding: 2%;
	margin: 2% 0%;
}

.button {
	border: 1px solid black;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	width: 150px;
	text-align: center;
	background: white;
	margin-top: 5%;
	padding: 2% 5%;
}

.facts {
	width: 90%;
	margin: 2% auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-between;
}

.facts div {
	display: flex;
	width: 48%;
	flex-flow: row wrap;
}


ul {
	list-style-type: disc;
	margin-left: 19px;
}

footer {
	margin: 1% auto;
	text-align: center;
	width: 90%;
}

@media (max-width: 800px) {
	.nav-bar {
		flex-flow: column-reverse wrap;
		justify-content: space-between;
		width: 100%;
	}

	.logo {
		margin-bottom: 5%;
	}

	.services {
		justify-content: center;
		margin: 3% auto;
	}

	.body {
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}

	.body div {
		margin: 2% 0%;
		width: 100%;
	}

	.facts {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.facts div {
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-bottom: 5%;
	}

	.facts p {
		width: 65%;
		margin-right: 5%;
	}
}

@media (max-width: 500px) {
	.nav-bar .links {
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid gray;
	}

	a {
		width: 100%;
		text-align: center;
		padding: 5% 0%;
		border-top: 1px solid gray;
	}

	.facts div {
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.facts p {
		width: 100%;
		margin-bottom: 5%;
		text-align: center;
	}
}